<div class="container mt-4">
  <div class="row g-4">

    <!-- COLONNA SINISTRA -->
    <div class="col-12 col-md-3">
      <div class="rectangle">
        <div class="footer-tagline mb-3 fs-0-8 fw-bolder">IL MIO MANIFESTO</div>
        <div class="d-flex flex-column gap-2 mb-4">
          <button class="btn btn-danger w-95 py-2 fw-bold rounded-0-1">Abbonati</button>
          <button class="btn btn-outline-danger w-95 py-2 fw-bold rounded-0-1">Accedi</button>
        </div>
        <h6 class="fw-bold footer-title fs-0-9">INFO</h6>
        <ul class="list-unstyled small footer-info">
          <li class="mb-2"><a href="#" class="text-black text-decoration-none">Aiuto Newsletter</a></li>
          <li class="mb-2"><a href="#" class="text-black text-decoration-none">Newsletter</a></li>
          <li class="mb-2"><a href="#" class="text-black text-decoration-none">Tariffe</a></li>
          <li class="mb-2"><a href="#" class="text-black text-decoration-none">Abbonamenti</a></li>
          <li class="mb-2"><a href="#" class="text-black text-decoration-none">Regala un abbonamento</a></li>
          <li class="mb-2"><a href="#" class="text-black text-decoration-none">La membership</a></li>
          <li class="mb-2"><a href="#" class="text-black text-decoration-none">Cosa puoi fare</a></li>
          <li class="mb-2"><a href="#" class="text-black text-decoration-none">Store</a></li>
          <li class="mb-2"><a href="#" class="text-black text-decoration-none">Termini e condizioni</a></li>
          <li class="mb-2"><a href="#" class="text-black text-decoration-none">Privacy</a></li>
          <li class="mb-2"><a href="#" class="text-black text-decoration-none">Cookie</a></li>
        </ul>
      </div>
    </div>

    <!-- COLONNA DESTRA (3 colonne) -->
    <div class="col-12 col-md-9">
      <div class="row g-4">

        <!-- Colonna 1: NOTIZIE + INSERTI -->
        <div class="col-12 col-md-4">
          <h6 class="fw-bold footer-title fs-0-9">NOTIZIE</h6>
          <ul class="list-unstyled small footer-col">
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Editoriale</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Commenti</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Politica</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Internazionale</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Europa</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Italia</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Lavoro</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Economia</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Scuola</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Cultura</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Visioni</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Sport</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Rubriche</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Appelli</a></li>
          </ul>
          <h6 class="fw-bold footer-title fs-0-9 mt-4">INSERTI</h6>
          <ul class="list-unstyled small footer-col">
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Alias</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Alias Domenica</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">ExtraTerrestre</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Le Monde Diplomatique</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">La fine del mondo</a></li>
          </ul>
        </div>

        <!-- Colonna 2: IL MANIFESTO + IL QUOTIDIANO + SOCIAL -->
        <div class="col-12 col-md-4">
          <h6 class="fw-bold footer-title fs-0-9">IL MANIFESTO</h6>
          <ul class="list-unstyled small footer-col">
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Gerenza</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Store</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Abbonamenti</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Contatti</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Aiuto</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">English edition</a></li>
          </ul>
          <h6 class="fw-bold footer-title fs-0-9 mt-4">IL QUOTIDIANO</h6>
          <ul class="list-unstyled small footer-col">
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Edizioni Pdf</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Archivio</a></li>
          </ul>
          <h6 class="fw-bold footer-title fs-0-9 mt-4">SOCIAL</h6>
          <ul class="list-unstyled small social-list">
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Instagram</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Facebook</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">YouTube</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Vimeo</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Spreaker</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Twitter</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Pinterest</a></li>
          </ul>
        </div>

        <!-- Colonna 3: IL COLLETTIVO -->
        <div class="col-12 col-md-4">
          <h6 class="fw-bold footer-title fs-0-9">IL COLLETTIVO</h6>
          <ul class="list-unstyled small footer-col">
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">MdM il manifesto del manifesto</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">- cooperativa</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">- giornale</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">- piattaforma</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">- impresa</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">- comunità</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">- storia</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Buon compleanno manifesto!</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">MeMa</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">il manifesto Lab</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">I podcast del manifesto</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Le novità digitali</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Le app del manifesto</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">#ilmanifesto50</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Diritti foto e articoli</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">Correzioni</a></li>
            <li class="mb-2"><a href="#" class="text-black text-decoration-none">la manifestival</a></li>
          </ul>
        </div>

      </div>
    </div>

  </div>
</div>
