/* ============================================ */
/* 1. UTILITY CLASS PERSONALIZZATE              */
/* ============================================ */

.fs-5-5 {
  font-size: 1.125rem;  /* 18px */
}

.fs-0-8 {
  font-size: 0.8rem;
}

.fs-0-9 {
  font-size: 0.85rem;
}

.w-95 {
  width: 95%;
}

.rounded-0-1 {
  border-radius: 0.1rem;
}
