<div class="more-articles mb-5">
  <div class="section-title mb-4">Altri articoli</div>
  <div class="row g-4">
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card h-100 border-0">
        <img src="https://placehold.co/300x160/cccccc/666666?text=FOTO+ASIA" class="card-img-top rounded" alt="Card">
        <div class="card-body px-0">
          <div class="card-category mb-1">INTERNAZIONALE</div>
          <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
          <p class="card-text small text-secondary">Sed do eiusmod tempor incididunt ut labore</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card h-100 border-0">
        <img src="https://placehold.co/300x160/cccccc/666666?text=FOTO+EUROPA" class="card-img-top rounded" alt="Card">
        <div class="card-body px-0">
          <div class="card-category mb-1">EUROPA</div>
          <h5 class="card-title">Ut enim ad minim veniam, quis nostrud exercitation</h5>
          <p class="card-text small text-secondary">Ullamco laboris nisi ut aliquip ex ea commodo</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card h-100 border-0">
        <img src="https://placehold.co/300x160/cccccc/666666?text=FOTO+CONTE" class="card-img-top rounded" alt="Card">
        <div class="card-body px-0">
          <div class="card-category mb-1">POLITICA</div>
          <h5 class="card-title">Duis aute irure dolor in reprehenderit in voluptate</h5>
          <p class="card-text small text-secondary">Velit esse cillum dolore eu fugiat nulla pariatur</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card h-100 border-0">
        <img src="https://placehold.co/300x160/cccccc/666666?text=FOTO+PD" class="card-img-top rounded" alt="Card">
        <div class="card-body px-0">
          <div class="card-category mb-1">POLITICA</div>
          <h5 class="card-title">Excepteur sint occaecat cupidatat non proident</h5>
          <p class="card-text small text-secondary">Sunt in culpa qui officia deserunt mollit anim</p>
        </div>
      </div>
    </div>
  </div>
</div>
