<div class="py-3 border-bottom">
  <div class="container">
    <div class="header-content">
      <div class="header-left">
        <button class="hamburger-btn" id="hamburgerBtn" (click)="openSidebar()">
          <i class="fas fa-bars"></i>
          <span class="fw-normal">Esplora</span>
        </button>
      </div>
      <div class="header-center">
        <img src="https://placehold.co/350x60/cccccc/666666?text=LOGO" alt="Logo" class="logo-img" id="mainLogo" [style.height.px]="logoHeight">
      </div>
      <div class="header-right">
        <button class="btn-abbonati-top">Abbonati</button>
        <button class="btn-entra-top">Entra</button>
      </div>
    </div>
  </div>
</div>

<div class="red-line"></div>
