<div class="border-top py-2 mt-3 border-bottom">
  <div class="container d-flex justify-content-between align-items-center flex-wrap gap-3">
    <div class="copyright-left small text-secondary">© 2026 UniFI - progetto ilmanifesto | placehold.co & Ipsum</div>
    <div class="d-flex gap-3 flex-wrap">
      <a href="#" class="text-black text-decoration-none small">Termini e condizioni</a>
      <a href="#" class="text-black text-decoration-none small">Cookie</a>
      <a href="#" class="text-black text-decoration-none small">Accessibilità</a>
      <a href="#" class="text-black text-decoration-none small">TDM</a>
      <a href="#" class="text-black text-decoration-none small">Privacy</a>
    </div>
  </div>
</div>
<div class="bottom-line mt-4"></div>
