<div class="overlay" id="overlay" (click)="closeSidebar()"></div>

<!-- Sidebar menu -->
<div class="sidebar-menu" id="sidebarMenu">
  <div class="sidebar-header">
    <span class="sidebar-logo">il manifesto</span>
    <button class="close-sidebar" id="closeSidebar" (click)="closeSidebar()">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <ul class="sidebar-nav">
    <li><a href="#">Primo piano</a></li>
    <li><a href="#">Politica</a></li>
    <li><a href="#">Internazionale</a></li>
    <li><a href="#">Cultura</a></li>
    <li><a href="#">Economia</a></li>
    <li><a href="#">Ambiente</a></li>
    <li><a href="#">Podcast</a></li>
    <li><hr></li>
    <li><a href="#">Edicola</a></li>
    <li><a href="#">Newsletter</a></li>
    <li><a href="#">Cerca</a></li>
    <li><a href="#">Store</a></li>
    <li><a href="#">Contatti</a></li>
    <li><a href="#">Aiuto</a></li>
  </ul>
</div>
